*{
    background-color: black;
    color: aliceblue;
}
#box{
    background-color:white;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 7%;
    padding: 20px;
    padding-left: 40px;
    border-radius: 20px;
}
h2{
    display: inline-block;
    background-color:white;
    color: #000;
}
p{
    text-align: center;
}